<!DOCTYPE html>
<html>
  <head>
    <title>Dodaj nową resteuracje</title>
    <%- include('../views/head.ejs'); %>
  </head>
  <body>
    <%- include('../views/hamburger.ejs'); %>
    <form action="/create" method="post" name="Login_Form" class="form-signin">
      <h3 class="form-signin-heading">Dodaj resteuracje</h3>
      <input
        type="text"
        class="form-control"
        name="email"
        placeholder="nazwa resteuracji"
        required=""
        autofocus=""
      />
      <input
        type="text"
        class="form-control"
        name="firstName"
        placeholder="imię"
        required=""
      />
      <input
        type="text"
        class="form-control"
        name="lastName"
        placeholder="nazwisko"
        required=""
      />
      <input
        type="text"
        class="form-control"
        name="email"
        placeholder="adres email"
        required=""
      />
      <input
        type="password"
        class="form-control"
        name="password"
        placeholder="hasło"
        required=""
      />

      <br /><br />
      <button
        class="btn btn-lg btn-primary btn-block"
        name="Submit"
        value="Rejestruj!"
        type="Submit"
      >
        Dodaj
      </button>
      <br /><br />
      <p id="createMessage" class="form-message"><%= createMessage %></p>
      <br />
    </form>
    <script src="/public/main.js"></script>
  </body>
</html>
