<nav>
  <button class="hamburger" aria-expanded="false">
    <span class="sr-only">Otwórz/zamknij menu</span>
    <span class="hamburger__box">
      <span class="hamburger__inner"></span>
    </span>
  </button>
  <div class="navigation">
    <ul class="navigation__list">
      <li class="navigation__item"><a href="/">Start</a></li>
      <li class="navigation__item"><a href="/login">Logowanie</a></li>
      <li class="navigation__item"><a href="/register">Rejestracja</a></li>
      <li class="navigation__item">
        <a href="/create">Dodaj resteuracje</a>
      </li>
      <li class="navigation__item"><a href="">Szukaj</a></li>
    </ul>
  </div>
</nav>
