<!DOCTYPE html>
<html lang="pl">
  <head>
    <%- include('../views/head.ejs'); %>
    <title>Dinner</title>
  </head>
  <body>
    <div
      style="
        color: white;
        display: flex;
        justify-content: end;
        text-align: center;
      "
    >
      <p>Witaj <%= name %></p>
      <span> <%- include('../views/hamburger.ejs'); %> </span>
    </div>

    <div style="color: white; text-align: right"></div>
    <div class="container">
      <div>
        <div class="logo"></div>
        <div
          class="item"
          style="
            background: rgb(253, 3, 3) url(/public/favicon.ico) no-repeat 0 0;
          "
        >
          Resteuracja królewska
        </div>
      </div>
      <div class="item">Pizza Leone</div>
      <div class="item">Hotel Viktoria</div>
      <div class="item">Da graso</div>
      <div class="item">Resteuracja Łokietek</div>
      <div class="item">Pizza Corleone</div>
      <div class="item">Hotel Ilkus</div>
      <div class="item">Catering Mucha</div>
      <div class="item">Resteuracja Tramp</div>
      <div class="item">Resteuracja Opoka</div>
      <div class="item">Resteuracja RestoGar</div>
      <div class="item">inne</div>
    </div>
    <script src="/public/main.js"></script>
  </body>
</html>
