<!DOCTYPE html>
<html lang="pl">
  <head>
    <%- include('../views/head.ejs'); %>
    <title>Dinner</title>
  </head>
  <body>
    <div
      style="
        color: white;
        display: flex;
        justify-content: end;
        text-align: center;
      "
    >
      <p>Witaj <%= name %></p>
      <span> <%- include('../views/hamburger.ejs'); %> </span>
    </div>

    <div style="color: white; text-align: right"></div>
    <div class="container">
      <form
        name="search-form"
        id="search-form"
        action="resto"
        method="post"
        class="form-search"
        style="display: flex; flex-wrap: wrap; justify-content: center"
      >
        <script>
          fetch("getname", {
            method: "get",
            headers: {
              Accept: "application/json, text/plain, */*",
              "Content-Type": "application/json",
            },
          })
            .then((res) => res.json())
            .then((res) => {
              console.log(res);
              var btn = [];
              for (let i = 0; i < res.length; i++) {
                console.log(res[i].name);
                btn[i] = "btn" + i;
              }

              // Create a form synamically
              var form = document.createElement("form");
              form.setAttribute("method", "post");
              form.setAttribute("action", "/resto");
              form.style =
                "display: flex; flex-wrap: wrap; justify-content: center";

              for (let i = 0; i < res.length; i++) {
                btn[i] = document.createElement("BUTTON");
                btn[i].setAttribute("type", "submit");
                btn[i].setAttribute("formmethod", "post");
                btn[i].setAttribute("name", "restoName");
                btn[i].setAttribute("value", res[i].name);
                btn[i].textContent = res[i].name;
                btn[i].textContent.style = "padding: 30px;";
                btn[i].style.width = "200px";
                btn[i].style.height = "200px";
                btn[i].style =
                  "background: rgb(253, 3, 3) url(/public/favicon.ico) no-repeat 0 0; text-align: right;";
                btn[i].className = "item";
                form.appendChild(btn[i]);
                btn[i].onclick = btnClick;
              }

              function btnClick() {
                document.forms["search-form"].submit();
              }
              document.getElementsByTagName("body")[0].appendChild(form);

              function btnClick() {
                document.forms["search-form"].submit();
              }
            });
        </script>
      </form>
    </div>
    <script src="/public/main.js"></script>
    <script></script>
  </body>
</html>
