<!DOCTYPE html>
<html>
  <head>
    <title>Strona główna</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <p class="p_verification">Expressjs Layout</p>
    <br />
  </body>
</html>
