<head>
  <%- include('../views/head.ejs'); %>
</head>

<body>
  <%- include('../views/hamburger.ejs'); %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Expressjs uruchomiony</p>
    <br />
    <form action="/" method="post" name="Login_Form" class="form-signin">
      <h3 class="form-signin-heading">Logowanie</h3>

      <input
        type="text"
        class="form-control"
        name="email"
        placeholder="adres email"
        required=""
        autofocus=""
      />
      <input
        type="password"
        class="form-control"
        name="password"
        placeholder="hasło"
        required=""
      />
      <br />
      <label
        ><input type="checkbox" name="manager" /> Zarządzanie resteuracją</label
      >
      <br /><br />
      <button
        class="btn btn-lg btn-primary btn-block"
        name="Submit"
        value="Login"
        type="Submit"
      >
        Login
      </button>
      <br /><br />
      <label>nie masz konta, <a href="register">zarejestruj się</a></label>
      <br />
    </form>
    <script src="/public/main.js"></script>
  </body>
</html>
