<!DOCTYPE html>
<html>
  <head>
    <title>Zarządzaine resteuracją</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <p>Expressjs manager</p>
    <br />
  </body>
</html>
