<!DOCTYPE html>
<html lang="pl">
  <head>
    <%- include('../views/head.ejs'); %>
    <title>Dinner</title>
  </head>
  <body>
    <div
      style="
        color: white;
        display: flex;
        justify-content: end;
        text-align: center;
      "
    >
      <p>Witaj <%= name %></p>
      <span> <%- include('../views/hamburger.ejs'); %> </span>
    </div>
    <h2 style="color: white; text-align: center">Twoje zamówienie</h2>
    <table style="
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  "><th style="border: solid white 1px"> header</th>
  <tr>
    <td style="width: 50px; text-align: center; border: solid white 1px"> <%=title1%></td>
  </tr>

    </table>
    <script src="/public/main.js"></script>
  </body>
</html>
