<!DOCTYPE html>
<html>
  <head>
    <title>Rejestracja</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


    <br/>
    <form action="/register" method="post" name="Login_Form" class="form-signin">
      <h3 class="form-signin-heading">Rejestracja</h3>
      <input type="text" class="form-control" name="email" placeholder="adres email" required="" autofocus="" />
      <input type="password" class="form-control" name="password" placeholder="hsało" required=""/>

      <br/><br/>
      <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Rejestruj!" type="Submit">Login</button>
      <br/><br/>

      <br/>
    </form>
  </body>
</html>
